@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
}

body {
	background: #F6EFE9;
}

.container{
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.button{
	background-color: #1C4B89;
	color: var(--white);
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 20px;
	min-width: 250px;
}
.button--secondary{
	background-color: var(--white);
	color: #1C4B89;
}
.button:hover{
	background-color: #262626;
}
.button--secondary:hover {
	background-color: #1C4B89;
		color: var(--white);
}