@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--white: #ffffff;
	--primary-color: #223840;
	--secondary-color: #4E5B60;
	--bg-primary: #E5B789;
	--bg-secondary: #2C4C59;
	--bg-footer: rgba(248, 230, 218,.45);
	--custom: #E8D7CC;
	--gray: #C0C6C6;
}

body {
	background: var(--white);
}

.container{
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.button{
	background-color: #1C4B89;
	color: var(--white);
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 20px;
	min-width: 250px;
}