.footer {
	padding: 100px 0;
	background: linear-gradient(180deg, #1C4B89 0%, #6E849A 66.16%, #6E849A 100%);
}
.footer__title{
	font-weight: 300;
	font-size: 46px;
	line-height: 49px;
}
.footer__item__social{
	width: 60px;
	height: 60px;
	font-size: 20px;
}
.footer__item__social:hover{
	background-color: white;
	color: #060606;
}