.home {
	box-shadow: inset 0 160px 70px -10px #F6EFE9, inset 0 -120px 70px -10px #F6EFE9;
	background-image: url('../assets/img/home-effect.png');
}
.home__content {
	position: relative;
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}
.home__content__title{
	position: absolute;
	top: 220px;
	right: 0;
	width: 100%;
	max-width: 630px;
	font-size: 47px;
	text-align: right;
}
.home__content__title span{
	display: inline-block;
	line-height: 60px;
	padding: 0 10px;
}
.banner-secondary {
	box-shadow: inset 0 800px 70px -10px #F6EFE9, inset 0 -120px 70px -10px #F6EFE9;
	background-image: url('../assets/img/banner-secondary.png');
}
.titles{
	font-weight: 300;
	font-size: 40px;
	line-height: 49px;
	margin-bottom: 30px;
}
.subtitles{
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	font-style: italic;
}
.text-info{
	font-size: 16px;
	margin-bottom: 20px;
	letter-spacing: 11%;
	line-height: 28.4px;
}
.projects{
	background-image: url('../assets/img/effect-2.png');
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	margin-top: -180px;
	padding-top: 200px;
}
.projects__item{
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
}
.projects__text{
	width: 90%;
	max-width: 440px;
	margin-top: -177px;
	height: 354px;
	position: relative;
}
.banner-history{
	background-image: url('../assets/img/banner-about.png');
}
.banner-image{
	background-image: url('../assets/img/banner-small.png');
	width: 100%;
	min-height: 610px;
}
.banner-image--second{
	background-image: url('../assets/img/banner-small-2.png');
	width: 100%;
	min-height: 610px;
}
.team {
	background-image: url('../assets/img/effect-2.png');
	background-size: contain;
	background-position: center;
	padding-bottom: 100px;
	background-repeat: no-repeat;
}
.teams__item{
	padding-top: 30px;
}
.banner-proyectos {
	background-image: url('../assets/img/banner-projects.png');
}
.team--custom {
	background-image: url('../assets/img/effect-2.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 200px 0;
	margin: 50px 0;
}
.contact{
	background-image: url('../assets/img/contacto.png');
}